.button {
  appearance: none;
  background-color: $action-color;
  border: 1px solid #ccc;
  border-radius: $base-border-radius;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1.2;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: all 200ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: none;
  text-transform: none;

  &:hover,
  &:focus {
    background-color: darken($action-color, 10%);
    color: white;
    transform: none;
    box-shadow: 0 2px 4px rgba($black-color, 0.1);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
      color: white;
    }
  }
}
