.button {
  appearance: none;
  background-color: $action-color;
  border: 3px solid $black-color;
  border-radius: $base-border-radius;
  color: $black-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1.2;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: all 100ms linear;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: 4px 4px 0 $black-color;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $primary-color;
    color: $white-color;
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0 $black-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
      color: $black-color;
    }
  }
}
