.button {
  appearance: none;
  background-color: transparent;
  border: 1px solid $tan;
  border-radius: $base-border-radius;
  color: $tan;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  line-height: 1.2;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: all 200ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover,
  &:focus {
    background-color: $tan;
    color: $bg-dark;
    transform: none;
    box-shadow: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: transparent;
      color: $tan;
    }
  }
}
