fieldset {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
  box-shadow: none;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  font-weight: 700;
  margin-bottom: $small-spacing / 2;
  color: $black-color;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple] {
  border: 1px solid #ccc;
  border-radius: $base-border-radius;
  box-shadow: inset 0 1px 3px rgba($black-color, 0.05);
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: 14px;
  margin-bottom: $small-spacing;
  padding: $small-spacing;
  transition: all 200ms ease;
  width: 100%;
  font-weight: 500;

  &:hover {
    border-color: #999;
    box-shadow: inset 0 1px 3px rgba($black-color, 0.08);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: inset 0 1px 3px rgba($black-color, 0.08), 0 0 5px rgba($action-color, 0.3);
    outline: none;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;

    &:hover {
      border: 3px solid $black-color;
      box-shadow: 4px 4px 0 rgba($black-color, 0.2);
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}
