fieldset {
  background-color: lighten($secondary-background-color, 20%);
  border: 3px solid $black-color;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
  box-shadow: 4px 4px 0 $black-color;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  font-weight: 700;
  margin-bottom: $small-spacing / 2;
  color: $black-color;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiwhite-color;
  border: 3px solid $black-color;
  border-radius: $base-border-radius;
  box-shadow: 4px 4px 0 rgba($black-color, 0.2);
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: 12px;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 2;
  transition: all 100ms linear;
  width: 100%;
  font-weight: 700;

  &:hover {
    border-color: $action-color;
    box-shadow: 4px 4px 0 $action-color;
  }

  &:focus {
    border-color: $primary-color;
    box-shadow: 4px 4px 0 $primary-color;
    outline: none;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;

    &:hover {
      border: 3px solid $black-color;
      box-shadow: 4px 4px 0 rgba($black-color, 0.2)
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}
