body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0.75rem 0;
  font-weight: normal;
  color: inherit;
  text-shadow: none;
}

h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $tan;
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $tan;
  border-bottom: 1px solid $tan;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $tan;
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $tan;
}

h5,
h6 {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $tan;
}

p {
  margin: 0 0 $small-spacing;

  &.lead {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.7;
  }
}

a {
  color: $coral;
  text-decoration: none;
  border-bottom: 1px dotted $coral;
  text-underline-offset: 2px;
  transition: all 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $coral-light;
    border-bottom-style: solid;
    background: none;
    padding: 0;
  }
}

hr {
  border-bottom: 1px dashed $tan;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: .75rem;
  margin: .75rem 0;
  color: $text-muted;
  line-height: 1.6;
  border-left: 3px solid $tan;
  background-color: transparent;
  border: none;
  font-weight: 400;
  p { margin: 0; }
}

code {
  border: 1px solid $tan;
  font-family: "SFMono-Regular", Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
  margin: 0;
  padding: 2px 5px;
  background-color: $bg-light;
  color: $text-color;
  font-weight: normal;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "SFMono-Regular", Menlo, Consolas, "Inconsolata", monospace;
  font-size: 1em;
  margin: 0;
  padding: 5px 10px !important;
  overflow: auto;
  max-height: 60em;
  white-space: pre;
  border: 1px solid $tan;
  background-color: $bg-light;

  code {
    line-height: 1.75em;
    padding: 0 !important;
    border: none;
    background-color: transparent;
  }
}

strong {
  font-weight: normal;
  color: $tan;
}

em {
  font-style: italic;
  color: $coral;
}

ul,
ol,
dl {
    margin-top: 0;
    margin-left: 1.2em;
    margin-bottom: 1rem;
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
    li {
      margin-bottom: 0.5rem;
    }
}
