---
layout: default
title: Home
---

{% include intro.html %}

<section class="post-list">
  <div class="container">
    {% for post in site.posts %}
      
      <h2 class="category-title">Updates</h2>
      
      <article class="post-item">
        <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
        <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></div>
      </article>
    {% endfor %}
  </div>
  <div class="container">
    <img src="/assets/images/side.jpg" alt="">
  </div>
</section>
<a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fqiushi-zhou.github.io&count_bg=%23FFFFFF&title_bg=%23FFFFFF&icon=&icon_color=%23FFFFFF&title=&edge_flat=true"/></a>
