<section class="intro">
  <div class="container">
    <p class="lead">
	I am a Postdoctoral Fellow at Department of Computer Science, Aarhus University. I work with <a href="https://kenpfeuffer.com/">A/Prof. Ken Pfeuffer</a> and <a href="https://gemini-erc.eu/our-team">Prof. Hans Gellersen</a> on novel interaction techniques in Extended Reality (XR). I obtained my PhD at The University of Melbourne on novel affordances of mirror reflections for XR interaction, advised by <a href="https://www.eduardovelloso.com/">Prof. Eduardo Velloso</a> and <a href="https://www.jorgegoncalves.com/">A/Prof. Jorge Goncalves</a>. 
	</p>
	<a href="https://scholar.google.com.au/citations?user=a-FggqcAAAAJ&hl=en">🎓 Scholar &nbsp;</a> <a href="https://www.linkedin.com/in/qiushi-zhou-62b8039b/">👔 LinkedIn &nbsp;</a> <a href="https://twitter.com/qiushi__zhou">🐦 Twitter &nbsp;</a> <a href="https://bsky.app/profile/qiushiz.bsky.social">🦋 BlueSky &nbsp;</a> <a href="https://qiushi-zhou.github.io//CV.pdf">📃 CV &nbsp;</a>
  </div>
</section>
