<section class="intro">
  <div class="intro-container">
    <div class="intro-text">
      <p class="lead">
        I am a Tenure-Track Assistant Professor at <a href="https://www.hkust-gz.edu.cn/">The Hong Kong University of Science and Technology (Guangzhou)</a> affiliated with <a href="https://cma.hkust-gz.edu.cn/"> Thrust of Computational Media and Arts (CMA)</a> and <a href="https://iott.hkust-gz.edu.cn/"> Thrust of Internet of Things (IoT)</a> at <a href="https://infh.hkust-gz.edu.cn/">Information Hub</a>. I am recruiting for multiple PhD, MPhil, and Research Assistant positions starting from 2026 Spring. If you are interested, please read <a href="https://qiushi-zhou.github.io/recruitment/">HERE</a>.
      </p>
      <div class="intro-social">
        <a href="https://scholar.google.com.au/citations?user=a-FggqcAAAAJ&hl=en">Scholar</a>
        <a href="https://www.linkedin.com/in/qiushi-zhou-62b8039b/">LinkedIn</a>
        <a href="https://twitter.com/qiushi__zhou">Twitter</a>
        <a href="https://bsky.app/profile/qiushiz.bsky.social">BlueSky</a>
      </div>
    </div>
  </div>
</section>
