<section class="intro">
  <div class="container">
    <p class="lead">
	I am a Research Fellow and a PhD candidate at <a href="https://cis.unimelb.edu.au/">School of Computing and Information Systems</a>, The University of Melbourne. My PhD thesis is advised by <a href="https://www.eduardovelloso.com/">Eduardo Velloso</a> and <a href="https://www.jorgegoncalves.com/">Jorge Goncalves</a> at the <a href="https://cis.unimelb.edu.au/hci/">HCI group</a>. My research interest is creating deeper connections between human embodied perceptions and interactive technologies. 
	</p>
	<a href="https://scholar.google.com.au/citations?user=a-FggqcAAAAJ&hl=en">🎓 Google Scholar &nbsp;&nbsp;</a> <a href="https://www.linkedin.com/in/qiushi-zhou-62b8039b/">👔 LinkedIn &nbsp;&nbsp;</a> <a href="https://qiushi-zhou.github.io//CV.pdf">📃 CV</a>
  </div>
</section>
