* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  *zoom: 1;
}

body {
  background-color: $base-background-color;
  border: 8px solid $black-color;
  box-shadow: inset 0 0 0 4px #FFE66D, inset 0 0 0 8px $black-color;
}

hr {
  border-top: none;
  border-bottom: 4px dashed $primary-color;
  width: 100%;
  margin: $small-spacing 0;
}

.container {
  padding: $base-spacing;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  font-weight: bold;
  border: 4px solid $black-color;
  background-color: $white-color;
  margin-bottom: 1em;
  box-shadow: 8px 8px 0 rgba($black-color, 0.3);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.link {
  color: $action-color;
  padding-bottom: .05em;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  font-weight: bold;

  @include transition(all 100ms linear);

  &:hover,
  &:focus,
  &:active {
    border-bottom: 3px solid $action-color;
    text-shadow: 3px 3px 0 $primary-color;
  }
}

.site-header {
  border-bottom: 6px solid $black-color;
  margin-bottom: $small-spacing;
  min-height: 80px;
  background-color: $primary-color;
  box-shadow: 0 6px 0 $black-color;
}

.intro {
  .author-name {
    display: inline-block;
    padding: 0.3em 0.5em;
    background: $action-color;
    color: $black-color;
    border: 2px solid $black-color;
    font-weight: 700;
  }

  a {
    @extend .link;
  }

  .container {
    padding-bottom: 1em;
  }
}

.logo {
  float: left;
  margin: 0 0 1em 0;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  color: $white-color;
  text-shadow: 3px 3px 0 $black-color;

  span {
    font-weight: 700;
    background-color: $action-color;
    color: $black-color;
    padding: 0 0.5em;
  }
}

.nav {
  min-height: 64px;
}

.navbar {
  float: right;
  margin: 0;
  position: relative;
  padding: 0;
  pointer-events: all;
  cursor: pointer;

  li {
    display: inline-block;
    padding: 0.3em 0.5em;
    border: 2px solid $white-color;
    background-color: $action-color;
    margin: 0 4px;
    box-shadow: 4px 4px 0 rgba($black-color, 0.5);
    font-weight: 700;
  }

  a {
    color: $black-color;
    font-weight: 700;
    text-decoration: none;
    font-size: 10px;
  }
}

.category-title {
  margin: 1em 0 0.5em 0;
  background-color: $primary-color;
  color: $white-color;
  padding: 0.5em;
  border: 4px solid $black-color;
  text-transform: uppercase;
  font-size: 12px;
  text-shadow: 3px 3px 0 rgba($black-color, 0.5);
  font-weight: 700;

  &:first-child {
    margin-top: 0;
  }
}

.post-item {
  margin-bottom: 1em;
  display: block;
  border: 3px solid $black-color;
  padding: 0.5em;
  background-color: lighten($secondary-background-color, 20%);
  box-shadow: 4px 4px 0 $black-color;

  a {
    color: $action-color;
    font-weight: 700;
  }

  .article-title {
    display: inline-block;
    width: 75%;
  }

  .date-label {
    padding: 0.2em 0.5em;
    margin-left: 1em;
    margin-top: 2px;
    background-color: $medium-gray-color;
    color: $black-color;
    font-weight: 700;
    border: 2px solid $black-color;
    font-size: 10px;
    @extend .pull-right;
  }
}

.post-meta {
  color: $black-color;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 10px;
  margin-bottom: 1px;
  background-color: $medium-gray-color;
  padding: 0.3em 0.5em;
  border: 2px solid $black-color;
  font-weight: 700;
}

.post-title {
  margin-top: 0;
  margin-bottom: 1em;
  color: $primary-color;
  font-size: 18px;
  text-shadow: 3px 3px 0 $black-color;
  font-weight: 700;
}

.post-link,
.post a,
.page a {
  @extend .link;
}

.post {
  @extend .clearfix;
}

.pagination {
  li, a, span {
    display: inline-block;
  }

  a, span {
    font-size: 10px;
    padding: 0.3em 0.5em;
    margin: 2px;
    border: 2px solid $black-color;
    background-color: $action-color;
    font-weight: 700;
  }

  .prev, .next {
    color: $black-color;
  }
}

.share {
  border-top: 4px dashed $primary-color;
  padding: $base-spacing;
  margin-top: $base-spacing * 2;
  background-color: lighten($secondary-background-color, 15%);
  border: 3px solid $black-color;
  box-shadow: 4px 4px 0 $black-color;

  p {
    margin: 0;
    font-size: 10px;
    color: $black-color;
    font-weight: 700;
  }
}

.disqus {
  background-color: lighten($secondary-background-color, 20%);
  padding: $base-spacing;
  border: 3px solid $black-color;
  box-shadow: 4px 4px 0 $black-color;
  margin: 1em 0;

  hr {
    margin: $base-spacing 0;
  }
}

.site-footer {
  @extend .clearfix;

  padding: $base-spacing;
  background-color: $black-color;
  border-top: 6px solid $primary-color;
  color: $white-color;

  a {
    color: $action-color;
    font-weight: 700;

    &:hover,
    &:focus,
    &:active {
      text-shadow: 2px 2px 0 $primary-color;
    }
  }

  small {
    display: block;
    font-size: 10px;
    color: $medium-gray-color;
    margin-top: 0.5em;
  }

  .block {
    display: block;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.divider {
  border-top: 4px dashed $primary-color;
  margin-bottom: $base-spacing * 2;
  margin-top: $base-spacing * 2;
}

// This applies from 0px to 600px
@media (max-width: 600px) {
  .date-label {
    float: left !important;
    border: 2px solid $black-color !important;
    margin-left: 0 !important;
    margin-top: 2px;
    margin-right: 1em;
  }

  .post-item {
    border: 3px solid $black-color;
    padding: 0.5em;
    background: lighten($secondary-background-color, 20%);
    box-shadow: 4px 4px 0 $black-color;
  }

  .article-title {
    border-bottom: none !important;
  }

  .post-link {
    &:hover,
    &:focus,
    &:active {
      border-bottom: 3px solid $action-color;
      color: $action-color;
    }
  }
}
